* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.navs {
    width: 100vw;
    padding: 20px 10px 0;
}

.navs ul {
    display: flex;
    list-style-type: none;    
}

.navs li {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

.active {
    color: #fff;
    background-color: brown;
    transition: .2s;
}

/* Hero */

.hero-bar {
    width: 100%;
    padding: 20px;
    background-color: brown;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-content: flex-start;
}

.hero-bar::-webkit-scrollbar {
    width: 0;
}

.hero {
    width: 50px;
    margin: 20px;
    font-size: .9em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.hero .hero-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    transition: .7s;
    z-index: -1;
}

.detail-hero .close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    padding: 0 20px;
    border-radius: 0 10px 10px 0;
    background-color: brown;
    cursor: pointer;
}

.detail-hero .header {
    width: 250px;
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .4);
}

.detail-hero .header h3 {
    margin-bottom: 8px;
}

.detail-hero .header h3::after {
    content: "";
    width: 40%;
    height: 3px;
    background-color: #fff;
    display: block;
    margin-top: 5px;
}

.detail-hero .image {
    width: 100%;
    height: 100%;
}

.detail-hero .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-hero .col-speech {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    position: absolute;
    bottom: 0;
    letter-spacing: 1px;
}

.detail-hero .col-info {
    width: 30%;
    height: 200px;
    overflow-y: scroll;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .4);
}

.col-info::-webkit-scrollbar {
    width: 0;
}

.col-info h4 {
    text-align: center;
}

.detail-hero ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.detail-hero ul li {
    width: 50%;
    padding: 5px;
    position: relative;
    text-transform: capitalize;
}

.detail-hero ul li:nth-child(odd)::after {
    content: ":";
    position: absolute;
    right: 15px;
}

.show {
    animation: fadeIn .4s ease-in forwards;
    z-index: 99;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (max-width: 1024px) and (orientation: portrait){ /* tablet and smaller */
    body:after{
      position: absolute;
      z-index: 9999;
      width: 100%;
      top: 0;
      bottom: 0;
      content: "";
      background: #212121 url(http://i.stack.imgur.com/sValK.png) 0 0 no-repeat; /* replace with an image that tells the visitor to rotate the device to landscape mode */
      background-size: 100% auto;
      background-position: center;
    }
  }

  @media (min-width: 1024px) {
      body::after {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, .8);
          z-index: 999;
          font-size: 3em;
          display: flex;
          color: #fff;
          justify-content: center;
          align-items: center;
          content: "Only Mobile Device";
      }   
  }